## EDA on Course-Level Data
#### Data obtained by datagolf API
#### Vincent Etherton

In [50]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
course_df = pd.read_csv('dg_course_table.csv')

In [52]:
course_df.head()

,course,par,yardage,yardage_4_5,yardage_3,adj_score_to_par,adj_par_3_score,adj_par_4_score,adj_par_5_score,adj_driving_distance,...,less_150_sg,greater_150_sg,adj_penalties,adj_ob,arg_fairway_sg,arg_rough_sg,arg_bunker_sg,less_5_ft_sg,greater_5_less_15_sg,greater_15_sg
0,Castle Pines Golf Club,72,7981,511,208,0.38,0.09,0.13,-0.33,323.2,...,-0.078,0.030,0.69,0.14,0.003,-0.120,-0.017,0.005,-0.003,0.017
1,Ocean Course at Kiawah Island,72,7671,489,207,2.57,0.29,0.21,-0.17,293.0,...,-0.089,-0.044,0.65,0.08,-0.007,-0.040,-0.288,-0.007,-0.012,0.004
2,Torrey Pines South (U.S. Open),71,7635,490,194,2.57,0.18,0.20,-0.12,300.8,...,-0.049,-0.017,0.15,0.01,0.005,-0.034,-0.021,-0.005,-0.025,-0.019
3,Torrey Pines South (Genesis Inv.),72,7599,488,190,1.11,0.12,0.17,-0.26,290.9,...,0.009,0.002,0.29,0.04,0.068,0.022,0.058,-0.015,-0.065,-0.011
4,Torrey Pines Golf Course (South Course),72,7589,487,194,1.18,0.10,0.17,-0.24,289.7,...,-0.011,0.005,0.19,0.02,0.026,-0.011,-0.002,-0.013,-0.047,-0.008

In [53]:
course_df.describe()

,par,yardage,yardage_4_5,yardage_3,adj_score_to_par,adj_par_3_score,adj_par_4_score,adj_par_5_score,adj_driving_distance,adj_sd_distance,...,less_150_sg,greater_150_sg,adj_penalties,adj_ob,arg_fairway_sg,arg_rough_sg,arg_bunker_sg,less_5_ft_sg,greater_5_less_15_sg,greater_15_sg
count,105.000000,105.000000,105.00000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,...,105.000000,105.000000,105.000000,105.000000,105.000000,104.000000,105.000000,105.000000,105.000000,105.000000
mean,71.019048,7228.742857,463.32381,190.723810,-0.000476,0.080952,0.061333,-0.324857,289.405714,18.601905,...,-0.004676,0.004886,0.368952,0.056952,0.000390,-0.005548,-0.018257,-0.000476,0.000152,-0.001352
std,0.831830,198.311431,13.92804,10.568909,1.544786,0.079560,0.083379,0.131713,8.502520,2.227321,...,0.037306,0.035390,0.217980,0.048340,0.034938,0.055555,0.068808,0.005805,0.024036,0.016098
min,70.000000,6800.000000,430.00000,167.000000,-3.190000,-0.120000,-0.090000,-0.650000,270.200000,14.800000,...,-0.089000,-0.074000,0.030000,0.000000,-0.112000,-0.221000,-0.348000,-0.024000,-0.078000,-0.058000
25%,70.000000,7094.000000,453.00000,184.000000,-1.150000,0.020000,0.000000,-0.410000,282.900000,17.200000,...,-0.034000,-0.021000,0.200000,0.020000,-0.018000,-0.040000,-0.041000,-0.003000,-0.012000,-0.012000
50%,71.000000,7248.000000,464.00000,190.000000,0.030000,0.070000,0.050000,-0.330000,288.600000,18.200000,...,0.001000,0.007000,0.340000,0.040000,0.004000,-0.007500,-0.005000,0.000000,0.002000,0.002000
75%,72.000000,7339.000000,471.00000,197.000000,0.960000,0.120000,0.120000,-0.240000,295.000000,19.700000,...,0.017000,0.027000,0.510000,0.070000,0.024000,0.028250,0.019000,0.003000,0.015000,0.010000
max,73.000000,7981.000000,511.00000,223.000000,4.450000,0.290000,0.290000,0.010000,323.200000,27.500000,...,0.093000,0.082000,0.920000,0.220000,0.072000,0.108000,0.107000,0.011000,0.085000,0.033000

In [54]:
course_df.shape

(105, 32)

In [55]:
course_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   course                105 non-null    object
 1   par                   105 non-null    int64
 2   yardage               105 non-null    int64
 3   yardage_4_5           105 non-null    int64
 4   yardage_3             105 non-null    int64
 5   adj_score_to_par      105 non-null    float64
 6   adj_par_3_score       105 non-null    float64
 7   adj_par_4_score       105 non-null    float64
 8   adj_par_5_score       105 non-null    float64
 9   adj_driving_distance  105 non-null    float64
 10  adj_sd_distance       105 non-null    float64
 11  adj_driving_accuracy  105 non-null    float64
 12  putt_sg               105 non-null    float64
 13  arg_sg                105 non-null    float64
 14  app_sg                105 non-null    float64
 15  ott_sg                105 non-null    float64
 16  fw_width              105 non-null    float64
 17  fw_diff               105 non-null    float64
 18  rgh_diff              104 non-null    float64
 19  non_rgh_diff          105 non-null    float64
 20  miss_fw_pen_frac      105 non-null    float64
 21  adj_gir               105 non-null    float64
 22  less_150_sg           105 non-null    float64
 23  greater_150_sg        105 non-null    float64
 24  adj_penalties         105 non-null    float64
 25  adj_ob                105 non-null    float64
 26  arg_fairway_sg        105 non-null    float64
 27  arg_rough_sg          104 non-null    float64
 28  arg_bunker_sg         105 non-null    float64
 29  less_5_ft_sg          105 non-null    float64
 30  greater_5_less_15_sg  105 non-null    float64
 31  greater_15_sg         105 non-null    float64
dtypes: float64(27), int64(4), object(1)
memory usage: 26.4+ KB

In [56]:
print(course_df[course_df.isnull().any(axis=1)].to_string())

                                               course  par  yardage  yardage_4_5  yardage_3  adj_score_to_par  adj_par_3_score  adj_par_4_score  adj_par_5_score  adj_driving_distance  adj_sd_distance  adj_driving_accuracy  putt_sg  arg_sg  app_sg  ott_sg  fw_width  fw_diff  rgh_diff  non_rgh_diff  miss_fw_pen_frac  adj_gir  less_150_sg  greater_150_sg  adj_penalties  adj_ob  arg_fairway_sg  arg_rough_sg  arg_bunker_sg  less_5_ft_sg  greater_5_less_15_sg  greater_15_sg
6  Pinehurst Resort &amp; Country Club (Course No. 2)   70     7513          480        201              3.09             0.25              0.2            -0.15                 294.7             18.2                0.6685   -0.006  -0.087  -0.028   0.037      35.0     0.39       NaN          0.37            0.0042   0.5317       -0.045          -0.023           0.03    0.01          -0.112           NaN         -0.042         0.001                -0.011         -0.014

In [57]:
from sklearn.experimental import enable_iterative_imputer  # noqa
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

imputer = IterativeImputer(estimator=LinearRegression(), max_iter=10, random_state=0)
df2 = pd.DataFrame(imputer.fit_transform(course_df.drop(columns=["course"])), columns=course_df.drop(columns=["course"]).columns)
course_df = pd.concat([df2, course_df["course"]], axis=1)

In [58]:
print(course_df[course_df.isnull().any(axis=1)].to_string())

Empty DataFrame
Columns: [par, yardage, yardage_4_5, yardage_3, adj_score_to_par, adj_par_3_score, adj_par_4_score, adj_par_5_score, adj_driving_distance, adj_sd_distance, adj_driving_accuracy, putt_sg, arg_sg, app_sg, ott_sg, fw_width, fw_diff, rgh_diff, non_rgh_diff, miss_fw_pen_frac, adj_gir, less_150_sg, greater_150_sg, adj_penalties, adj_ob, arg_fairway_sg, arg_rough_sg, arg_bunker_sg, less_5_ft_sg, greater_5_less_15_sg, greater_15_sg, course]
Index: []

In [59]:
print(course_df[course_df.course=="Pinehurst Resort &amp; Country Club (Course No. 2)"].to_string())

    par  yardage  yardage_4_5  yardage_3  adj_score_to_par  adj_par_3_score  adj_par_4_score  adj_par_5_score  adj_driving_distance  adj_sd_distance  adj_driving_accuracy  putt_sg  arg_sg  app_sg  ott_sg  fw_width  fw_diff  rgh_diff  non_rgh_diff  miss_fw_pen_frac  adj_gir  less_150_sg  greater_150_sg  adj_penalties  adj_ob  arg_fairway_sg  arg_rough_sg  arg_bunker_sg  less_5_ft_sg  greater_5_less_15_sg  greater_15_sg                                              course
6  70.0   7513.0        480.0      201.0              3.09             0.25              0.2            -0.15                 294.7             18.2                0.6685   -0.006  -0.087  -0.028   0.037      35.0     0.39  0.322552          0.37            0.0042   0.5317       -0.045          -0.023           0.03    0.01          -0.112     -0.076648         -0.042         0.001                -0.011         -0.014  Pinehurst Resort &amp; Country Club (Course No. 2)